@font-face {
  font-family: "Ruritania";
  src: url("/fonts/Ruritania.ttf");
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PT_Sans-Web-Regular.ttf");
}

html, body {
  height: 100%;
}

body {
  background-color: #eda;
  border-top: 10px solid #333;
  font-family: "PT Sans";
}

h1 {
  font-family: "Ruritania";
  font-size: 10em;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.side-float {
  margin-top: 5%;
  border-radius: 5px;
  background: #dc9;
  padding: 6%;
}

.cart-float {
  margin-top: 20%;
}

.navbar-custom {
  border-radius: 0;
  border: none;
  background-color: #333;
  top: -300px;
  transition: 2s;
}

.navbar-custom .navbar-brand {
  font-family: "Ruritania";
}

nav.affix, nav.affix-bottom {
  top: 0;
  transition: 0.3s;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -7%;
}

.page-wrapper:after {
  content: "";
  display: block;
}

footer, .page-wrapper:after {
  height: 7%;
}

footer {
  background-color: #dc9;
  text-align: right;
  color: #a96;
  padding: 3% 0 4% 0;
}

h2 {
  text-align: center;
  font-size: 3em;
}

img {
  height: 120px;
}

a, a:active, a:focus {
  color: #430;
  transition: 2s;
  border-bottom: 1px dashed #a96;
}

a:hover {
  color: #763;
  text-decoration: none;
  border-bottom: 1px solid #a96;
  transition: 0.3s;
}

nav a, nav a:hover {
  border: none;
}

.product a {
  border: none;
}

.product {
  border-radius: 5px;
  transition: 0.3s ease;
  text-align: center;
}

.product:hover {
  background-color: #dc9;
  transition: 0.3s ease;
}

.catalog-product-name {
  text-align: center;
}

.catalog-price {
  font-style: italic;
  color: #541;
}

input[type=text] {
  border: none;
  border-radius: 5px;
  background-color: #dc9; 
  height: 2em;
  font-size: 1.2em;
  width: 100%;
}

*:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  color: #555;
  opacity: 1;
}
:-moz-placeholder {
  color: #555;
  opacity: 1;
}
::-moz-placeholder {
  color: #555;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #555;
  opacity: 1;
}

button {
  border: none;
  border-radius: 5px;
}

.submit-button {
  background-color: #cb8;
  height: 2em;
  font-size: 1.2em;
  width: 100%;
  margin-top: 1%;
  transition: 0.5s linear;
}

.submit-button:hover {
  background-color: #feb;
  transition: 0.5s ease;
}

form {
  text-align: center;
}

h3 {
  text-align: center;
}

.push {
  margin-bottom: 10%;
}

.cart-btn {
  width: 100%;
}