<h2>Каталог продукции</h2>

<h4>Bought</h4>
<% if @buy_list != nil %>
    <% @buy_list.each do |element| %>
        <% if element.to_i > 0 %>
            <p><%= link_to @products[element - 1].title, @products[element - 1] %></p>
        <% end %>
    <% end %>
<% end %>

<h4>View</h4>
<% if @view != nil %>
    <% @view_list = @products.sort_by do |element| %>
        <% element[:views] %>
    <% end %>
    <% @view_list.reverse! %>

    <% @view_list.each do |product| %>
        <% if product.id == @view[product.id - 1] %>
            <p><%= link_to product.title, product %></p>
        <% end %>
    <% end %>
<% end %>

<h4>Cart</h4>
<% if @cart != nil %>
    <% @cart.each do |element| %>
        <% if element.to_i > 0 %>
            <p><%= link_to @products[element - 1].title, @products[element - 1] %></p>
        <% end %>
    <% end %>
<% end %>