<!DOCTYPE html>
<html>
<head>
  <title>DaedraShop &ndash; интернет-магазин оружия и доспехов из The Elder Scrolls IV: Oblivion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom" role="navigation" data-spy="affix" data-offset-top="10">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">DaedraShop</span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/products"><i class="glyphicon glyphicon-th"></i> Каталог продукции</a></li>
        <li><a href="/carts"><i class="glyphicon glyphicon-shopping-cart"></i> Корзина</a></li>
        <li><a href="/checkouts"><i class="glyphicon glyphicon-credit-card"></i> Совершить покупку</a></li>
      </ul>
      </ul>
    </div>
  </div>
</nav>

<div class="container container-fluid">
  <h1>DaedraShop</h1>
  <div class="row">
    <div class="col-sm-9">
      <%= yield %>
    </div>
    <div class="col-sm-3">
      <div id="cart-float">
        <h4><i class="glyphicon glyphicon-shopping-cart"></i> Корзина</h4>
        <% if session[:in_cart] %>
          <p>Количество товаров: 0</p>
          <p>Сумма: 0 грн.</p>
          <p><a href="/carts">Перейти к корзине</a></p>
          <p><a href="/checkouts">Оплатить</a></p>
        <% else %>
          <p>Ваша корзина пуста!</p>
          <p><a href="/products">Перейти к каталогу продукции</a></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    &copy; True Web Warriors of Code and Magic, 2014
  </div>
</footer>

</body>
</html>
